* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
}

h1 {
    justify-self: center;
    color: rgb(21, 21, 83);
    filter: drop-shadow(rgb(21, 21, 83) 10px 10px 10px);
}

main {
    width: 90vw;
    justify-self: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(rgb(61, 61, 102) 15px 15px 15px);
}

.upper_window {
    display: flex;
    height: 70vh;
    justify-self: center;
}

.group_list_div {
    background-color: rgb(133, 133, 212);
    width: 15vw;
    border-radius: 20px 0 0 0;
    border-right: 2px solid white;
    position: relative;
}

.group_list_div #plus_icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.group_list_div #add_user {
    position: absolute;
    left: 5px;
    bottom: 10px;
}

#add_user_button {
    width: 3vw;
    height: 3vw;
    border-radius: 20px;
    border-color: rgb(21, 21, 83);
    cursor: pointer;
}


#plus_icon button {
    width: 3vw;
    height: 3vw;
    border-radius: 20px;
    border-color: rgb(21, 21, 83);
    cursor: pointer;
}

#plus_icon button:hover,
#add_user_button:hover {
    width: 4vw;
    height: 4vw;
    border-radius: 30px;
}

#plus_icon button i {
    font-size: 20px;
    color: rgb(21, 21, 83);
}


#group_list {
    list-style: none;
    line-height: 50px;
    color: rgb(21, 21, 83);
    padding: 10px 5px 0 10px;
    font-size: large;
}



#group_list li button {
    background-color: rgb(133, 133, 212);
    border: none;
    border-bottom: 2px solid;
    border-radius: 10px;
    width: 12vw;
    font-size: medium;
    color: rgb(21, 21, 83);
    font-weight: bold;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    text-align: left;
}

#group_list li button:hover {
    font-size: larger;
    color: #fff;

}


.chat_window {
    background-color: rgb(189, 189, 241);
    width: 80vw;
    font-size: large;
    border-radius: 0 20px 0 0;
    color: rgb(5, 5, 22);
    position: relative;
}

.chat_read,
#group_members_div {
    padding: 20px;
}

#group_members_list {
    font-size: large;
    line-height: 40px;
}

#group_members_list td {
    padding-right: 20px;
}

#td_name {
    width: 10vw;
    font-weight: bold;
}

#role{
    color: green;
    font-style: italic;
}

#back_icon,
#profile_icon {
    padding-top: 7px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

#group_name_bar {
    display: flex;
    justify-content: space-evenly;
    background: rgb(61, 61, 153);
    padding: 5px;
    color: #fff;
    border-radius: 0 20px 0 0;
    height: 8vh;
}

#group_name_bar h3 {
    padding: 5px;
    letter-spacing: 2px;
}

#group_name_bar button {
    font-size: large;
    background: none;
    border: none;
    color: #fff;
    padding-right: 20px;
}

#group_name_bar button i {
    font-size: larger;
    margin: 2px;
    cursor: pointer;
}



#menu {
    background: #fff;
    color: rgb(61, 61, 153);
    width: 15vw;
    height: 30vh;
    border-radius: 20px 0 20px 20px;
    position: absolute;
    /* top: -1px; */
    right: 0;
    /* filter: drop-shadow(-10px 10px 16px rgb(21, 21, 83)); */
}

#menu ul {
    list-style: none;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 10px;
    padding-left: 20px;

}

#menu ul li {
    cursor: pointer;
    border: none;
    padding: 5px;
}

#menu ul li:hover {
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 0;
}

#menu button {
    font-size: large;
    background: none;
    border: none;
    color: rgb(61, 61, 153);
    cursor: pointer;
}

#group_form_div,
#add_user_form_div {
    padding: 10px 5px 0 10px;
}

#group_name_div {
    width: 80%;
    cursor: pointer;
    /* background: #000; */
}

#group_form_div form input,
#add_user_form_div form input {
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(21, 21, 83);
}

#group_form_div form #create,
#add_user_form_div form #add {
    margin: 5px;
    width: 6vw;
    height: 6vh;
    border: none;
    border-radius: 10px;
    background-color: rgb(21, 21, 83);
    color: white;
    font-size: small;
    letter-spacing: 1px;
}

#group_form_div #close_group_form,
#add_user_form_div #close_add_user_form {
    background: none;
    border: none;
    color: rgb(21, 21, 83);
    /* margin: 5px; */
    width: 6vw;
    height: 6vh;
    font-size: large;
    margin-left: 70%;
    cursor: pointer;
}



#input_image{
    /* color: rgba(0, 0, 0, 0); */
    display: none;
}


#input_image_label i{
    cursor: pointer;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: rgb(21, 21, 83);
    color: white;
    font-size: medium;
    text-align: center;
    line-height: 3vw;
    cursor: pointer;
}


.chat_send {
    justify-self: center;
    align-content: center;
    height: 10vh;
    background-color: rgb(61, 61, 153);
    border-radius: 0 0 20px 20px;
    border-top: 2px solid white;
}



#send_message {
    justify-self: center;
}

#send_message input {
    width: 40vw;
    height: 6vh;
}

#send_message input:hover,
#send_message input:focus,
#group_form_div form input:hover,
#group_form_div form input:focus,
#add_user_form_div form input:focus,
#add_user_form_div form input:hover {
    /* width: 50vw; */
    outline: auto rgb(21, 21, 83);
}

#group_members_list td button {
    width: 3vw;
    height: 5vh;
    border: none;
    border-radius: 50px;
    /* background-color: rgb(21, 21, 83); */
    color: rgba(255, 0, 0, 0.856);
    font-size: medium;
    letter-spacing: 1px;
    background: none;
    cursor: pointer;
}

#group_members_list td button:hover{
    width: 3vw;
    height: 6vh;
    background: #fff;
    cursor: pointer;
}


#send_message button {
    width: 3vw;
    height: 7vh;
    border: none;
    border-radius: 30px;
    background-color: rgb(21, 21, 83);
    color: white;
    font-size: medium;
    letter-spacing: 1px;
    font-size: larger;
}


#chat_send:hover,
#input_image_label i:hover,
#group_form_div form #create:hover,
#add_user_form_div #add:hover,
#invite_form_div form button:hover,
#group_members_list li button:hover{
    cursor: pointer;
    background-color: rgb(5, 5, 22);
    letter-spacing: 0;
}

form #chat_error {
    color: rgb(46, 1, 1);
    font-weight: bold;
}

#bg-grey {
    width: 76vw;
    height: 62vh;
    background: #000;
    opacity: 50%;
}

#invite_form_div {
    width: 20vw;
    height: 30vh;
    background: #fff;
    align-items: center;
    padding: 5px;
    position: fixed;
    top: 20%;
    right: 35%;
    border: none;
    border-radius: 10px;
}

#invite_form_div form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#invite_form_div form input {
    margin: 5px;
    padding: 5px;
    outline: auto rgb(21, 21, 83);
}

#invite_form_div form button {
    width: 7vw;
    height: 7vh;
    border: none;
    border-radius: 10px;
    background-color: rgb(21, 21, 83);
    color: white;
    font-size: medium;
    letter-spacing: 1px;
    margin-top: 10px;
}

#close_invite {
    background: none;
    border: none;
    color: rgb(21, 21, 83);
    /* margin: 5px; */
    width: 6vw;
    height: 6vh;
    font-size: large;
    margin-left: 70%;
    cursor: pointer;
}