*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    justify-self: center;
    color:  rgb(21, 21, 83);
    filter: drop-shadow(rgb(21, 21, 83) 10px 10px 10px);
}
main{
    /* border: 2px solid rgb(110, 110, 224);; */
    /* margin-top: 5%; */
    width: 90vw;
    justify-self: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(rgb(61, 61, 102) 15px 15px 15px);
}
.upper_window{
    display: flex;
    height: 70vh;
    justify-self: center;
}

.online_user_div{
    background-color: rgb(147, 147, 247);
    width: 15vw;
    border-radius: 20px 0 0 0;
    border-right: 2px solid white;

}

#online_user_list{
    list-style: none;
    line-height: 30px;
    color: rgb(21, 21, 83);
    
}


.chat_window{
    background-color: rgb(178, 178, 241);
    width: 80vw;
    padding-left: 50px;
    font-size: large;
    border-radius: 0 20px 0 0;
    color: rgb(5, 5, 22);
}

.chat_send{
    justify-self: center;
    align-content: center;
    height: 10vh;
    background-color: rgb(75, 75, 148);
    border-radius: 0 0 20px 20px ;
    border-top: 2px solid white;
}

#send{
    justify-self: center;
    
}

#send input{
    width: 40vw;
    height: 5vh;
    
}

#send input:hover{
    width: 50vw;
    height: 6vh;
    border: 1px solid rgb(21, 21, 83);
}

#send input:focus{
   width: 50vw;
   height: 6vh;
}

#send button{
    width: 7vw;
    height: 7vh;
    border: none;
    border-radius: 10px;
    background-color: rgb(21, 21, 83);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

#chat_send:hover{
    cursor: pointer;
    background-color: rgb(5, 5, 22);
    font-size: medium;
}
